body {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: solid 1px;
}

input {
    border: none;
    width: 3em;
    height: 3em;
    text-align: center;
    font-size: larger;
}

.somaerradacoluna input, 
.somaerradalinha input, 
.somaerradadiagonalsecundaria input, 
.somaerradadiagonalprincipal input {
    color: orange;
    border: solid 5px;
}

.foradoslimites input,
.numerosrepetidos input {
    color: red;
    border: solid 5px;
}

.vitoria tr td input {
    color: green;
    border: solid 5px;

}